/* para la sección de la frase del día */
#fraseDelDia {
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

/* para el título de la frase */
#frase h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

/* para el subtítulo de la frase */
#frase h2 {
  color: #494646;
  font-size: 1rem;
  padding-top: 80px;
  text-align: center;
}

/* para los botones */
.btn {
  font-size: 20px;
}

/* para el contenedor principal */
.frame {
  display: flex;
  justify-content: center;
  position: relative;
}

/* para el marco SVG */
#svgFrame {
  position: absolute;
  z-index: -1;
}

/* para el texto de la frase */
.quotes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  font-size: 1rem;
}

/* para el pie de página */
.footer {
  font-weight: bold;
}

/* para pantallas pequeñas */
@media (max-width: 720px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.5rem;
  }

  .frame {
    padding-top: 0rem !important;
  }

  .quotes {
    top: 10%;
    width: 200px;
    font-size: 0.6rem;
  }

  p {
    margin-bottom: 2px;
  }

  svg {
    width: 100% !important;
  }
}

/* para pantallas aún más pequeñas */
@media (max-width: 420px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.6rem;
  }

  .quotes {
    top: 10%;
    width: 200px;
    font-size: 0.4rem;
  }
}